{% from '_material_form_fields.html' import
        render_text_input_field,
        render_radio_button_field,
        render_checkbox_field%}
{% extends "base.html" %}
{% block title %}Add a new user{% endblock %}
{% block meta_description %}Add a new user to the journal{% endblock %}

{% block content %}
    <div class="mdl-layout__content container">
        <h1>Add a new User</h1>
        <div class="mdl-grid">
            <div class="mdl-cell--4-col">
                <form method="post"
                      action="{{ url_for('users.new_user') }}"
                      enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    {{ render_text_input_field(form.username) }}
                    {{ render_text_input_field(form.email) }}
                    {{ render_text_input_field(form.email2) }}
                    {{ render_text_input_field(form.password) }}
                    {{ render_text_input_field(form.password2) }}
                    {{ render_text_input_field(form.first_name) }}
                    {{ render_text_input_field(form.last_name) }}
                    {{ render_text_input_field(form.display_name) }}
                    {{ render_text_input_field(form.image) }}
                    {{ render_radio_button_field(form.role) }}
                    {{ render_checkbox_field(form.is_enabled) }}
                    <button class="mdl-button mdl-js-button mdl-button--raised"
                            type="submit">
                        Add new User
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
