{% from '_material_form_fields.html' import
        render_text_input_field,
        render_textarea_field,
        render_select_input_field,
        render_file_field  %}
{% extends "base.html" %}
{% block title %}Edit the {{ form.name.data }} category{% endblock %}
{% block meta_description %}Edit {{ form.name.data }} category in the
    journal{% endblock %}
{% block head_scripts %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/getmdl-select.min.css' ) }}">
{% endblock %}
{% block body_class %}class="category-edit-view"{% endblock %}

{% block content %}
    <div class="mdl-layout__content container two-column">
        <h1 class="mdl-typography--display-2">Edit the {{ form.name.data }}
            category</h1>
        <div class="mdl-grid">
            <form method="post"
                  action=""
                  enctype="multipart/form-data"
                  id="upload-form">
                {{ form.csrf_token }}
                <div class="mdl-cell mdl-cell--6-col">
                    {{ render_text_input_field(form.name) }}
                    {{ render_textarea_field(form.description) }}
                    {{ render_select_input_field(form.parent, cat_list,
                        parent_id) }}
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col">
                            <button class="mdl-button mdl-js-button
                                           mdl-button--raised"
                                    type="submit">
                                Save Edits
                            </button>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col
                                    mdl-typography--text-right">
                            {% if is_admin %}
                                <a class="mdl-button mdl-js-button
                                      mdl-button--raised mdl-js-ripple-effect
                                      mdl-button--accent"
                                   href="{{ url_for('categories.category_delete',
                                    category_id = category.id) }}">
                                    Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    {{ render_file_field(form.image, category.image) }}
                    {{ form.delete_image }}
                    <p>This image should be 1140 px wide and between 200 and 400
                        px tall</p>

                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
    <script src="{{ url_for('static', filename='js/getmdl-select.min.js' ) }}">

    </script>
{% endblock %}