{% from '_material_form_fields.html' import render_text_input_field %}
{% extends "base.html" %}
{% block title%}Add new category{% endblock %}
{% block meta_description%}Add a new wine category to the journal{% endblock %}
{% block head_scripts %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/getmdl-select.min.css' )}}">
{% endblock %}

{% block content %}
    <div class="mdl-layout__content container">
        <h1>Add a new Wine Category</h1>
        <div class="mdl-grid">
        <div class="mdl-cell--4-col">
            <form method="post" action="{{ url_for('categories.new_category') }}" enctype="multipart/form-data">
                {{ form.csrf_token }}
{#                {{ render_text_input_field(form.description) }}#}
                <div class="mdl-textfield mdl-js-textfield">
                    {{ form.name(class_='mdl-textfield__input', required='true') }}
                    {{ form.name.label(class_='mdl-textfield__label')}}
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    {{ form.description(class_='mdl-textfield__input') }}
                    {{ form.description.label(class_='mdl-textfield__label')}}
                </div>
                <div class="mdl-textfield mdl-js-textfield getmdl-select">
                    {{ form.parent(class_='mdl-textfield__input') }}
                    <input type="hidden" value="" name="parent">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="parent" class="mdl-textfield__label">Parent Category</label>
                    <ul for="parent" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        {% for id, name in cat_list.items() %}
                                <li class="mdl-menu__item" data-val="{{ id }}">{{ name }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <button class="mdl-button mdl-js-button mdl-button--raised"
                        type="submit">
                    Add new Category
                </button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
{% block footer_scripts %}
<script src="{{ url_for('static', filename='js/getmdl-select.min.js' )}}"></script>
{% endblock %}