{% extends "base.html" %}
{% block title %}{{ category.name }} Wine Category{% endblock %}
{% block meta_description %}A list of all wines in the
    {{ category.name }} category{% endblock %}

{% block content %}
    <div class="mdl-layout__content container">
        <header class="title-area">
            {% if category.image %}
                <img src="{{ category.image }}"
                     alt="{{ category.name }} wine category">
            {% endif %}
            <h1 class="mdl-typography--display-2">{{ category.name }} Wine
                Category</h1>
        </header>
        <div class="subheader">
            {% if category.description %}
                <span>{{ category.description }}</span>
            {% endif %}
            {% if category.parent %}
                <span>  <b>Parent Category:</b> {{ category.parent }}  </span>
            {% endif %}
            {% if is_admin or is_owner %}
                <a class="mdl-button mdl-js-button mdl-button--raised
                    mdl-js-ripple-effect mdl-button--accent"
                    href="{{ url_for('categories.category_edit',
                    category_id = category.category.id) }}">
                    Edit</a>
            {% endif %}

        </div>
        {% include 'wines/wine-recent-posts.html' %}
    </div>
{% endblock %}