{% from '_material_form_fields.html' import
        render_text_input_field,
        render_textarea_field,
        render_select_input_field,
        render_file_field %}
{% extends "base.html" %}
{% block title %}Add new category{% endblock %}
{% block meta_description %}Add a new wine category to the journal{% endblock %}
{% block head_scripts %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/getmdl-select.min.css' ) }}">
{% endblock %}

{% block content %}
    <div class="mdl-layout__content container two-column">
        <h1 class="mdl-typography--display-2">Add a new Wine Category</h1>
        <div class="mdl-grid">
            <form method="post"
                  action="{{ url_for('categories.new_category') }}"
                  enctype="multipart/form-data"
                  id="upload-form">
                {{ form.csrf_token }}

                <div class="mdl-cell mdl-cell--6-col">
                    {{ render_text_input_field(form.name) }}
                    {{ render_textarea_field(form.description) }}
                    {{ render_select_input_field(form.parent, cat_list) }}
                    <button class="mdl-button mdl-js-button mdl-button--raised"
                            type="submit">
                        Add new Category
                    </button>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    {{ render_file_field(form.image, img_url) }}
                    {{ form.delete_image }}
                    {{ form.rotate_image }}
                    <p>This image will be reduced to 1140px wide and cropped to 350px tall</p>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block footer_scripts %}
    <script src="{{ url_for('static', filename='js/getmdl-select.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/image-upload.js' ) }}"></script>
{% endblock %}