{% extends "base.html" %}
{% block title%}Add new category{% endblock %}
{% block meta_description%}Add a new wine category to the journal{% endblock %}
{% block content %}
<div class="mdl-layout__content">
    <div class="container">
        <h1 class="mdl-typography--display-3">Add new category</h1>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <p>New category page content</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}