{#Template for text input field#}

{% macro render_text_input_field(field) %}
    <div class="mdl-textfield mdl-js-textfield {% if field.errors %}is-invalid{% endif %}">
        {{ field(class_='mdl-textfield__input', **kwargs) |safe }}
        {{ field.label(class_='mdl-textfield__label') }}
    </div>
    {% if field.errors %}
        <div>
            <ul class="form-error">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}


{#Template for textarea input field#}

{% macro render_textarea_field(field) %}
    <div class="mdl-textfield mdl-js-textfield {% if field.errors %}is-invalid{% endif %}">
        {{ field(class_='mdl-textfield__input', **kwargs) |safe }}
        {{ field.label(class_='mdl-textfield__label') }}
    </div>
    {% if field.errors %}
        <div>
            <ul class="form-error">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}


{#Template for category & region select input field#}

{% macro render_select_input_field(field, list, parent_id=0) %}
    <div class="mdl-textfield mdl-js-textfield getmdl-select {% if field.errors %}is-invalid{% endif %}">
        {{ field(class_='mdl-textfield__input') }}
        <input type="hidden" value="" name="{{ field.name }}">
        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
        {{ field.label(class_='mdl-textfield__label') }}
        <ul for="{{ field.name }}"
            class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
            {% for id, name in list.items() %}
                <li class="mdl-menu__item"
                        {% if id == parent_id %}
                            data-selected="true"
                        {% endif %}
                            data-val="{{ id }}">{{ name }}</li>
            {% endfor %}
        </ul>
    </div>
    {% if field.errors %}
        <div>
            <ul class="form-error">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}


{#Template for country & state select input field#}

{% macro render_simple_select_input_field(field, list) %}
    <div class="mdl-textfield mdl-js-textfield getmdl-select {% if field.errors %}is-invalid{% endif %}">
        {{ field(class_='mdl-textfield__input', readonly="true") }}
        <input type="hidden" value="" name="{{ field.name }}">
        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
        {{ field.label(class_='mdl-textfield__label') }}
        <ul for="{{ field.name }}"
            class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
            {% for name in list %}
                <li class="mdl-menu__item"
                        {% if name == field.data %}
                            data-selected="true"
                        {% endif %}
                            data-val="{{ name }}">{{ name }}</li>
            {% endfor %}
        </ul>
    </div>
    {% if field.errors %}
        <div>
            <ul class="form-error">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}


{#Template for range input field#}

{% macro render_range_input_field(field) %}

    <div class="range_wrapper">
        {{ field.label() }}
        {{ field(class_='mdl-slider mdl-js-slider', **kwargs) |safe }}
        <output for="{{ field.name }}" onforminput="value = {{ field.value }}.valueAsNumber;"></output>
    </div>

{% endmacro %}