{#Template for text input field#}

{% macro render_text_input_field(field) %}
    <div class="mdl-textfield mdl-js-textfield {% if field.errors %}is-invalid{% endif %}">
        {{ field(class_='mdl-textfield__input', **kwargs) |safe }}
        {{ field.label(class_='mdl-textfield__label') }}
    </div>
    {% if field.errors %}
        <div>
            <ul class="form-error">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}


{#Template for textarea input field#}

{% macro render_textarea_field(field) %}
    <div class="mdl-textfield mdl-js-textfield {% if field.errors %}is-invalid{% endif %}">
        {{ field(class_='mdl-textfield__input', **kwargs) |safe }}
        {{ field.label(class_='mdl-textfield__label') }}
    </div>
    {% if field.errors %}
        <div>
            <ul class="form-error">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}


{#Template for category & region select input field#}

{% macro render_select_input_field(field, list, parent_id=0) %}
    <div class="mdl-textfield mdl-js-textfield getmdl-select {% if field.errors %}is-invalid{% endif %}">
        {{ field(class_='mdl-textfield__input') }}
        <input type="hidden" value="" name="{{ field.name }}">
        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
        {{ field.label(class_='mdl-textfield__label') }}
        <ul for="{{ field.name }}"
            class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
            {% for id, name in list.items() %}
                <li class="mdl-menu__item"
                        {% if id == parent_id %}
                    data-selected="true"
                        {% endif %}
                    data-val="{{ id }}">{{ name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{#Template for category & region select input fields in wine new & edit #}

{% macro render_select_input_field_wine(field, list) %}
    <div class="mdl-textfield mdl-js-textfield getmdl-select {% if field.errors %}is-invalid{% endif %}">
        {{ field(class_='mdl-textfield__input') }}
        <input type="hidden" value="" name="{{ field.name }}">
        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
        {{ field.label(class_='mdl-textfield__label') }}
        <ul for="{{ field.name }}"
            class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
            {% for id, name in list.items() %}
                <li class="mdl-menu__item"
                        {% if name == field.data %}
                    data-selected="true"
                        {% endif %}
                    data-val="{{ id }}">{{ name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}


{#Template for country & state select input field#}

{% macro render_simple_select_input_field(field, list) %}
    <div class="mdl-textfield mdl-js-textfield getmdl-select {% if field.errors %}is-invalid{% endif %}">
        {{ field(class_='mdl-textfield__input', readonly="true") }}
        <input type="hidden" value="" name="{{ field.name }}">
        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
        {{ field.label(class_='mdl-textfield__label') }}
        <ul for="{{ field.name }}"
            class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
            {% for name in list %}
                <li class="mdl-menu__item"
                        {% if name == field.data %}
                    data-selected="true"
                        {% endif %}
                    data-val="{{ name }}">{{ name }}</li>
            {% endfor %}
        </ul>
    </div>
    {% if field.errors %}
        <div>
            <ul class="form-error">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}


{#Template for range input field#}

{% macro render_range_input_field(field) %}

    <div class="range_wrapper">
        {{ field.label() }}
        {{ field(class_='mdl-slider mdl-js-slider', **kwargs) |safe }}
        <output for="{{ field.name }}"
                onforminput="value = {{ field.value }}.valueAsNumber;"></output>
    </div>

{% endmacro %}

{#Template for range input field#}

{% macro render_range_input_field_stars(field) %}

    <div class="range_wrapper star-rating">
        {{ field.label() }}
        {{ field(class_='mdl-slider mdl-js-slider', onchange="setStars()",
            onload="setStars()", **kwargs) |safe }}
        <div id="star-rating"></div>
    </div>
    <script>
        function setStars() {
            var stars = [
                '<i class="material-icons">thumb_down</i>',
                '<i class="material-icons">star_half</i>',
                '<i class="material-icons">star</i>',
                '<i class="material-icons">star</i><i class="material-icons">star_half</i>',
                '<i class="material-icons">star</i><i class="material-icons">star</i>',
                '<i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i>',
                '<i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i>',
                '<i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i>',
                '<i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i>',
                '<i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i>',
                '<i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i>'];
            var ratingField = document.getElementById('star-rating');
            var formField = document.getElementById('rating')
            var rating = formField.value;
            console.log(formField.value)
            ratingField.innerHTML = stars[rating];
        }
    </script>

{% endmacro %}

{#Template for Radio Button field#}

{% macro render_radio_button_field(field) %}
    <div class="mdl-textfield">
        {% for subfield in field %}

            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect"
                   for="{{ subfield.id }}">
                {{ subfield(class_='mdl-radio__button', **kwargs) |safe }}
                <span class="mdl-radio__label">{{ subfield.label }}</span>
            </label>
        {% endfor %}
    </div>
{% endmacro %}

{#Template for Checkbox field#}

{% macro render_checkbox_field(field) %}
    <div class="mdl-textfield">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
               for="{{ field.id }}">
            {{ field(class_='mdl-checkbox__input', **kwargs) |safe }}
            <span class="mdl-checkbox__label">{{ field.label }}</span>
        </label>
    </div>
{% endmacro %}

{#Template for file field#}

{% macro render_file_field(field, img_url) %}

    <div
            {% if img_url %}
                class="mdl-card-image mdl-shadow--3dp"
            {% endif %} }} ,
                style="margin-bottom: 30px;" id="thumbnail">
        {% if img_url %}
            <img id="picture" class="mdl-card-image" src="{{ img_url }}"
                 width="100%"
                 height="auto">
        {% endif %}
    </div>

    <div class="mdl-form-field mdl-grid">
        <div class="mdl-cell mdl-cell--8-col">
            <label for="{{ field.id }}" class="file-container mdl-button
                   mdl-button--colored mdl-js-button
                 mdl-button--raised mdl-js-ripple-effect">
                <i class="material-icons">file_upload</i> Upload an Image
                {{ field(onchange="fileSelected();", **kwargs) |safe }}
            </label>
        </div>

        <div class="mdl-cell mdl-cell--4-col  mdl-typography--text-right">
            <div class="mdl-button mdl-js-button mdl-button--fab
            mdl-button--mini-fab mdl-button--colored"
                 onclick="removeImage();"><i class="material-icons">close</i>
            </div>
        </div>
        <div id="wine-meta" class="mdl-card mdl-shadow--2dp wine-meta"
             style="display:none;">
            <p id="fileName"></p>
            <p id="fileSize"></p>
            <p id="fileType"></p>
        </div>
        <div class="mdl-card__actions orientation-buttons clearfix">
            <div class="one-third left-align">
                <a onclick="imageRotateLeft()"
                   class="mdl-button mdl-js-button mdl-button--raised"><i
                        class="material-icons">rotate_left</i> Left</a>
            </div>
            <div class="one-third center-align">
                <a onclick="imageRotate180()"
                   class="mdl-button mdl-js-button mdl-button--raised"><i
                        class="material-icons">cached</i>
                    180</a>
            </div>
            <div class="one-third right-align">
                <a onclick="imageRotateRight()"
                   class="mdl-button mdl-js-button mdl-button--raised">
                    <i class="material-icons">rotate_right</i>
                    Right</a>
            </div>
        </div>
    </div>

{% endmacro %}