<footer class="mdl-mega-footer mdl-color--indigo-900">
    <div class="mdl-mega-footer__top-section mdl-typography--text-center">
        <cite>This website was created as a course project by Rick Anderson. It
            is the Item Catalog project in the
            <a href="https://www.udacity.com/course/full-stack-web-developer-nanodegree--nd004">
                Udacity Full Stack Web Development</a>  Nano Degree.
        </cite>
    </div>
    <div class="mdl-mega-footer__bottom-section">
        <div class="mdl-mega-footer__left-section">
            <div class="mdl-logo">
                <img src="/static/img/logo.png" alt="Our wine journal logo"
                     class="logo">
                Our Wine Journal
            </div>

        </div>
        <div class="mdl-mega-footer__right-section">
            <ul class="mdl-mini-footer__link-list">
                <li><a href="{{ url_for('static_pages.help') }}">Help</a></li>
                <li><a href="{{ url_for('static_pages.privacy') }}">Privacy</a>
                </li>
                <li><a href="{{ url_for('static_pages.tos') }}">Terms of
                    Service</a>
                </li>
                <li>
                    <a href="https://github.com/rickandersonaia/wine-journal"><img
                            src="/static/img/github.svg" width="32px"
                            height="32px"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>