<header>
    <div class="container">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <p>This is the header</p>
                {% if current_user.is_authenticated %}
                    <a class="mdl-button mdl-button--colored" href="{{ url_for('static_pages.logout') }}">Logout</a>
                {% else %}
                <button class="mdl-button mdl-button--colored" id="login">Login</button>
                {% endif %}
            </div>
        </div>
    </div>
</header>