<h2 class="mdl-typography--display-2">Recent Tasting Notes</h2>
<ul class="demo-list-two mdl-list">
{% for note in tasting_notes %}
  <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
     <img src="{{ note.user.image }}" alt="{{ note.user.display_name }}"
          class="mdl-list__item-avatar">
      <span><a href="{{ url_for('wines.wine_detail', wine_id=note.wine_id) }}" >{{ note.wine.name }}</a></span>
      <span class="mdl-list__item-sub-title">{{ note.user.display_name }}</span>
    </span>
  <span class="mdl-list__item-secondary-content">
      <span class="mdl-list__item-secondary-info">Rating</span>
      <span class="star-rating">{{ note.rating | int }}</span>
    </span>
  </li>

{% endfor %}
</ul>