{% extends "base.html" %}
{% block title %}Delete the {{ wine.name }} Tasting Note{% endblock %}
{% block meta_description %}Delete the {{ wine.name }} tasting note from the
    journal{% endblock %}

{% block content %}
    <div class="mdl-layout__content container">
        <h1>Delete the tasting note from the {{ wine.name }}?</h1>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <div class="mdl-card mdl-shadow--2dp ">
                    <div class="mdl-card__title mdl-card--border">
                        <h2 class="mdl-card__title-text">
                            {{ note.title }}</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        {% if note.text %}
                            <p>{{ note.text }}</p>
                        {% endif %}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <form action="" method="post">
                            {{ form.csrf_token }}
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--6-col">
                                    <button class="mdl-button mdl-js-button
                                mdl-button--raised mdl-js-ripple-effect
                                mdl-button--accent"
                                            type="submit">
                                        Delete
                                    </button>
                                </div>

                                <div class="mdl-cell mdl-cell--6-col mdl-typography--text-right">
                                    <a class="mdl-button mdl-js-button
                                mdl-button--raised mdl-js-ripple-effect
                                mdl-button--colored mdl-typography--text-right"
                                       href="{{ url_for('wines.wine_detail', wine_id=wine.id) }}">
                                        Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}