{% extends "base.html" %}
{% block title %}All Wine Regions{% endblock %}
{% block meta_description %}A list of all wine regions in the
    journal{% endblock %}

{% block content %}
    <div class="mdl-layout__content container">
        <header class="title-area">
            {% if region.image %}
                <img src="{{ region.image }}"
                     alt="{{ region.name }} wine region">
            {% endif %}
            <h1 class="mdl-typography--display-2">{{ region.name }} Region</h1>
        </header>
        <div class="subheader">
            {% if region.description %}
                <p>{{ region.description }}</p>
            {% endif %}
            <p>
                {% if region.country %}
                    <span>Country of Origin: {{ region.country }}</span>
                {% endif %}
                {% if region.state %}
                    <span>State or Province: {{ region.state }}</span>
                {% endif %}
                {% if region.parent %}
                    <span>Parent Region: {{ region.parent }}</span>
                {% endif %}
            </p>
            {% if is_admin or is_owner %}
                <a class="mdl-button mdl-js-button mdl-button--raised
                    mdl-js-ripple-effect mdl-button--accent"
                   href="{{ url_for('regions.region_edit',
                    region_id = region.region.id) }}">
                    Edit</a>
            {% endif %}

        </div>
        {% include 'wines/wine-recent-posts.html' %}
    </div>
{% endblock %}