{% extends "base.html" %}
{% block title %}All Wines{% endblock %}
{% block meta_description %}A list of all wines listed in the
    journal{% endblock %}

{% block content %}
    <div class="mdl-layout__content container">
        <h1>Wine List</h1>
        <div class="mdl-grid">
            <div class="mdl-cell--12-col">
                {% if current_user.is_authenticated %}
                    <a class="mdl-button mdl-js-button
                        mdl-button--raised
                        mdl-js-ripple-effect
                        mdl-button--colored"
                       href="{{ url_for('wines.new_wine') }}">
                        Add New Wine</a>
                {% endif %}
                <ul class="mdl-list wine-list">
                    {% for wine in wine_list %}
                        <li class="mdl-list__item">
                            <img src="{{ wine.image }}"
                                 class="mdl-list__item-avatar">
                            <a href="{{ url_for('wines.wine_detail', wine_id=wine.id) }}">
                                {{ wine.name }}
                            </a>
                            <span>  -- {{ wine.vintage }}, {{ wine.wine_category.name }}, <i>{{ wine.wine_region.name }}</i></span>
                            {% if wine.tasting_notes %}
                                <span class="mdl-chip mdl-color--primary">
                                    <span class="mdl-chip__text mdl-color-text--primary-contrast">{{ wine.tasting_notes | length }} Tasting Notes</span>
                                </span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}