{% extends "base.html" %}
{% block title %}{{ wine.name }}{% endblock %}
{% block meta_description %}{{ wine.name }} - {{ wine.vintage }}{% endblock %}
{% block body_class %}class="detail-view"{% endblock %}

{% block content %}
    <div class="mdl-layout__content container two-column">
        <h1 class="mdl-typography--display-2">{{ wine.name }} - {{ wine.vintage }}</h1>
        <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                    {% if wine.image %}
                        <div class="mdl-card__media mdl-shadow--3dp">
                            <img src="{{ wine.image }}"
                                 alt="{{ wine.name }} - {{ wine.vintage }}"
                                 width="100%"
                                 height="auto"
                                class="mdl-shadow--3dp">
                        </div>
                    {% endif %}

                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    <div class="mdl-card__supporting-text wine-details">
                        <p><b>Region:</b> {{ region.name }} - {{ region.state }},
                            {{ region.country }}</p>
                        {% if wine.maker %}
                            <p><b>Winery:</b> {{ wine.maker }}</p>
                        {% endif %}
                        {% if category %}
                            <p><b>Wine Category:</b> {{ category.name }}</p>
                        {% endif %}
                        {% if price %}
                            <p><b>Appx. Price:</b> {{ price }}</p>
                        {% endif %}
                        {% if wine.description %}
                            <p>{{ wine.description }}</p>
                        {% endif %}
                        {% if wine.owner %}
                            <p class="mdl-list__item">
                                <img class="mdl-list__item-avatar"
                                     src="{{ avatar }}"
                                    alt="{{ display_name }} avatar">
                                <span>Shared by: {{ display_name }}</span></p>
                        {% endif %}
                        <p>Wine ID: {{ wine.id }}</p>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col">
                                {% if is_admin or is_owner %}
                                    <a class="mdl-button mdl-js-button
                                    mdl-button--raised mdl-js-ripple-effect
                                    mdl-button--accent"
                                       href="{{ url_for('wines.wine_edit',
                                    wine_id = wine.id) }}">
                                        Edit</a>
                                {% endif %}
                            </div>

                            <div class="mdl-cell mdl-cell--6-col
                                            mdl-typography--text-right">
                                <a class="mdl-button mdl-js-button
                                                mdl-button--raised
                                                mdl-js-ripple-effect
                                                mdl-button--colored
                                                mdl-typography--text-right"
                                   href="{{ url_for(
                                        'wines.list_wines') }}">
                                    Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
{% endblock %}