{% extends "base.html" %}
{% block title %}All Wines{% endblock %}
{% block meta_description %}A list of all wines listed in the
    journal{% endblock %}

{% block content %}
    <div class="mdl-layout__content container">
        <h1>Wine List</h1>
        <div class="mdl-grid">
            <div class="mdl-cell--4-col">
            {% if current_user.is_authenticated %}
                <a class="mdl-button mdl-js-button
                        mdl-button--raised
                        mdl-js-ripple-effect
                        mdl-button--colored"
                   href="{{ url_for('wines.new_wine') }}">
                    Add New Wine</a>
            {% endif %}
                <ul class="mdl-list">
                    {% for wine in wine_list %}
                        <li class="mdl-list__item">
                            <a href="{{ url_for('wines.wine_detail', wine_id=wine.id) }}">
                                {{ wine.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}