{% extends "base.html" %}
{% block title %}Rick Anderson's Wine Journal{% endblock %}
{% block meta_description %}Anderson Family and Friends' Wine Journal - Udacity
    FSWD Course Project{% endblock %}
{% block content %}
    <div class="mdl-layout__content">
        <div class="container">
            <header class="title-area">
                <img src="/static/img/group-drinking-wine.jpg"
                     alt="family drinking wine" height="400px" width="1140px">
                <h1 class="mdl-typography--display-2">Anderson Family and
                    Friends' Wine Journal</h1>
            </header>
            {% include '/wines/wine-recent-posts.html' %}
        </div>
    </div>

{% endblock %}