{% extends "base.html" %}
{% block title%}Rick Anderson's Wine Journal{% endblock %}
{% block meta_description%}Rick Anderson's Wine Journal - Udacity FSWD Course Project{% endblock %}
{% block content %}
<div class="mdl-layout__content">
    <div class="container">
        <h1 class="mdl-typography--display-3">Rick's Wine Journal</h1>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <p>Home page content</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}