<h2 class="mdl-typography--display-2">How this works</h2>
<div class="welcome">
    <p>The inspiration for this website comes from listening to conversations at
        get togethers with friends and family about recent favorite wine
        discoveries. </p>
    <p>Laura will tell the kids about some new wine she tried at Trader Joe's
        that
        cost $2 but tastes like it should cost $20. Maybe she took a picture of
        it on
        her phone, maybe she made a note and maybe she can't remember.</p>
    <p>Now she can easily share this wine experience with everyone and they can
        share
        their own experiences with it, along perhaps with a picture of them
        drinking it
        or otherwise enjoying themselves.</p>
    <p><i>It's a little social network centered around wine.</i></p>
    <p>So login and start sharing and commenting. <b>Note: Every wine needs a
        wine
        category and a region. </b>You can generally get that off the bottle. If
        a region
        and wine type doesn't exist you can create one. It doesn't have to be
        perfect, I
        can fix it if it needs fixing.</p>
</div>