{% from '_material_form_fields.html' import
        render_text_input_field,
        render_textarea_field,
        render_range_input_field_stars,
        render_file_field %}
{% extends "base.html" %}
{% block title %}Add a comment to the {{ tnote.title }} tasting note{% endblock %}
{% block meta_description %}Add a new comment to the {{ tnote.title }} to the
    journal{% endblock %}


{% block content %}
    <div class="mdl-layout__content container two-column">
        <h1 class="mdl-typography--display-2">Add new comment to
            {{ tnote.user.first_name }}'s tasting note</h1>
        <div class="mdl-grid">
            <form method="post"
                  action="{{ url_for('comment.new_comment', tnote_id=tnote.id) }}"
                  enctype="multipart/form-data"
                  id="upload-form">
                {{ form.csrf_token }}
                <div class="mdl-cell mdl-cell--6-col">
                    {{ render_textarea_field(form.text) }}
                    <button class="mdl-button mdl-js-button mdl-button--raised"
                            type="submit">
                        Add new Comment
                    </button>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    {{ render_file_field(form.image, img_url) }}
                    {{ form.delete_image }}
                    {{ form.rotate_image }}
                    <p>Upload an image from your phone - any direction</p>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block footer_scripts %}
<script src="{{ url_for('static', filename='js/image-upload.js' ) }}"></script>
{% endblock %}