<h2 class="mdl-typography--display-2">Comments</h2>
{% if not note.comments %}
    <h3 class="mdl-typography--display-1 mdl-typography--headline-color-contrast">
        here are no comments yet - why not tell us what you think?
    </h3>
{% endif %}
{% if current_user.is_authenticated %}
    <div class="mdl-card__actions mdl-card--border">
        <a class="
                mdl-button mdl-js-button
                mdl-button--raised
                mdl-js-ripple-effect
                mdl-button--colored
                mdl-typography--text-right"
           href="{{ url_for('comment.new_comment', tnote_id=note.id) }}">
            Add a Comment</a>
    </div>
{% endif %}
{% for comment in note.comments %}
    <div class="mdl-grid comments">
        <div class="mdl-cell mdl-cell--8-col mdl-cell--4-offset-desktop">
            <div class="mdl-list__item mdl-list__item--two-line">
                <span class="mdl-list__item-primary-content">
                    <img class="mdl-list__item-avatar"
                         src="{{ comment.user.image }}"
                         alt="{{ comment.user.display_name }} avatar">
                    {{ comment.user.display_name }}
                    <span class="mdl-list__item-sub-title">Posted on: {{ comment.created_on | date }}</span>
                </span>
            </div>

            <blockquote class="mdl-typography--body-1">
                {{ comment.text }}
            </blockquote>

            {% if is_admin or current_user.id == comment.user.id %}
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                       href="{{ url_for('comment.comment_edit', comment_id=comment.id) }}">Edit</a>
                </div>
            {% endif %}
            {% if comment.image %}
                <img src="{{ comment.image }}" alt="{{ note.title }}"
                     width="100%" height="auto" class="mdl-shadow--3dp">
            {% endif %}
        </div>
    </div>
{% endfor %}